.ProductTable {
  border: 2px solid purple;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ProductTable th, .ProductTable td {
  padding: 8px;
  text-align: center;
  border: none;
  gap: 20px;
}

.ProductTable th {
  border-bottom: 2px solid green;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 50px;
}

.ProductTable tbody {
  border: 2px solid lavender;
}
